*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: rgb(108, 47, 47);
    color: white;
}

.main{
display: flex;
justify-content: space-between;
}

.button{
    background-color: rgb(41, 41, 243);
    color: whitesmoke;

}

.products{
    border: solid 2px black;

}